BODY {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif; BACKGROUND-COLOR: white
}
P {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
EM {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
I {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
STRONG {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
B {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
STRONG.blue {
	COLOR: #006699; FONT-FAMILY: Arial, Geneva, sans-serif
}
STRONG.green {
	COLOR: #006633; FONT-FAMILY: Arial, Geneva, sans-serif
}
ADDRESS {
	COLOR: #000000; FONT-FAMILY: "Times New Roman", "Times Roman", Times, serif
}
BLOCKQUOTE {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
A:link {
	COLOR: blue; FONT-FAMILY: Arial, Geneva, sans-serif
}
A:visited {
	COLOR: purple
}
A:active {
	COLOR: red
}
DL {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
DT {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
DD {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
UL {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
OL {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
LI {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
MENU {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
DIR {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
H1 {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
H2 {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
H3 {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
H4 {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
H5 {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
H6 {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
TH {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
TR {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
TD {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
DIV {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
CENTER {
	COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
.nobreak {
	FONT-SIZE: 12pt; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
.blue1 {
	COLOR: #0000ff; FONT-FAMILY: Arial, Geneva, sans-serif
}
.blue {
	COLOR: #006699
}
.green1 {
	COLOR: #00ff00
}
.green {
	COLOR: #006633
}
.red {
	COLOR: #ff0000
}
.large {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial, Geneva, sans-serif
}
.small {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Geneva, sans-serif
}
.xsmall {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Geneva, sans-serif
}
.smallblue {
	FONT-SIZE: 9pt; COLOR: #006699; FONT-FAMILY: Arial, Geneva, sans-serif
}
.smallgreen {
	FONT-SIZE: 9pt; COLOR: #006633; FONT-FAMILY: Arial, Geneva, sans-serif
}
.smallblack {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Geneva, sans-serif
}
.footer {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "Times New Roman", "Times Roman", Times, serif
}
.news {
	FONT-SIZE: 85%; FONT-FAMILY: Arial, Geneva, sans-serif
}
.feature {
	FONT-SIZE: 85%; FONT-FAMILY: Arial, Geneva, sans-serif
}
.subhead {
	BACKGROUND: #006633; COLOR: #ffffff; FONT-FAMILY: Arial, Geneva, sans-serif
}
.reduced80 {
	FONT-SIZE: 80%; FONT-FAMILY: Arial, Geneva, sans-serif
}
.reduced75 {
	FONT-SIZE: 75%
}
.reduced70 {
	FONT-SIZE: 70%
}
.reduced65 {
	FONT-SIZE: 65%
}
.reduced60 {
	FONT-SIZE: 60%
}
